/*  inline style selector>id>class>element selector */

div#container ul.my_songs li{
    color: rgb(34, 146, 43);
    background-color: deeppink;
}
/* inline selector,id,class,element selector */
/* 0,1,1,3 */
div#container ul.my_songs li.favourite{
 color: yellow;
}
/* 0,1,2,3 */


/* 123>113 --- that's why it's specificity is more*/